# Undersampling

In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq

from tqdm import tqdm

import time
import torch
import gc

pd.set_option('display.max_columns', None)

## Daten laden

In [2]:
IS_TRAINING = True
folder = "train/" if IS_TRAINING else "validation/"
file_path_prefix = "../../data/processed/transformer/" + folder 
overview = pd.read_parquet(file_path_prefix + "overview-v2.parquet")

## Undersample

In [3]:
overview

          num_series_id    step  awake  critical_event_point  series_index
0                     1       0      1                   0.0             0
1                     1       1      1                   0.0             1
2                     1       2      1                   0.0             2
3                     1       3      1                   0.0             3
4                     1       4      1                   0.0             4
...                 ...     ...    ...                   ...           ...
73060068            277  589675      1                   0.0        589675
73060069            277  589676      1                   0.0        589676
73060070            277  589677      1                   0.0        589677
73060071            277  589678      1                   0.0        589678
73060072            277  589679      1                   0.0        589679

[73060073 rows x 5 columns]

In [4]:
events = overview[overview.critical_event_point > 0.99999]

In [5]:
def get_is_included(series, events):
    series['include'] = False
    
    for row in events.iterrows():
        current_step = row[1].step
    
        min_step = current_step - 360
        max_step = min(current_step + 360, len(series) - 1)
           
        series.loc[min_step:max_step, 'include'] = True
    
    return series

In [6]:
def get_merged_series(num_series_id, events):
    series = pd.read_parquet(file_path_prefix + "overview-v2.parquet", filters=[('num_series_id','=',num_series_id)])
    events_filtered = events.query('num_series_id == @num_series_id')
       
    series = get_is_included(series, events_filtered)
    
    return series

In [7]:
%%time

overview_undersample_data = []

total_len = events.num_series_id.nunique()

for i, num_series_id in enumerate(events.num_series_id.unique()):
    print(f'Step {i+1} of {total_len} ({num_series_id})')
    overview_undersample = get_merged_series(num_series_id, events)
    overview_undersample_data.append(overview_undersample)
    del overview_undersample
    gc.collect()

overview_undersample = pd.concat(overview_undersample_data).reset_index(drop=True)

Step 1 of 213 (1)
Step 2 of 213 (2)
Step 3 of 213 (3)
Step 4 of 213 (4)
Step 5 of 213 (5)
Step 6 of 213 (6)
Step 7 of 213 (8)
Step 8 of 213 (9)
Step 9 of 213 (11)
Step 10 of 213 (12)
Step 11 of 213 (13)
Step 12 of 213 (14)
Step 13 of 213 (15)
Step 14 of 213 (17)
Step 15 of 213 (19)
Step 16 of 213 (20)
Step 17 of 213 (22)
Step 18 of 213 (23)
Step 19 of 213 (25)
Step 20 of 213 (28)
Step 21 of 213 (29)
Step 22 of 213 (30)
Step 23 of 213 (31)
Step 24 of 213 (33)
Step 25 of 213 (34)
Step 26 of 213 (35)
Step 27 of 213 (36)
Step 28 of 213 (37)
Step 29 of 213 (38)
Step 30 of 213 (39)
Step 31 of 213 (40)
Step 32 of 213 (41)
Step 33 of 213 (42)
Step 34 of 213 (43)
Step 35 of 213 (45)
Step 36 of 213 (46)
Step 37 of 213 (49)
Step 38 of 213 (50)
Step 39 of 213 (51)
Step 40 of 213 (52)
Step 41 of 213 (53)
Step 42 of 213 (54)
Step 43 of 213 (56)
Step 44 of 213 (57)
Step 45 of 213 (58)
Step 46 of 213 (59)
Step 47 of 213 (60)
Step 48 of 213 (61)
Step 49 of 213 (62)
Step 50 of 213 (64)
Step 51 of 213 (66)
Step 52 of 213 (67)
Step 53 of 213 (68)
Step 54 of 213 (69)
Step 55 of 213 (70)
Step 56 of 213 (73)
Step 57 of 213 (74)
Step 58 of 213 (75)
Step 59 of 213 (76)
Step 60 of 213 (77)
Step 61 of 213 (78)
Step 62 of 213 (79)
Step 63 of 213 (80)
Step 64 of 213 (82)
Step 65 of 213 (84)
Step 66 of 213 (85)
Step 67 of 213 (87)
Step 68 of 213 (88)
Step 69 of 213 (89)
Step 70 of 213 (90)
Step 71 of 213 (91)
Step 72 of 213 (92)
Step 73 of 213 (93)
Step 74 of 213 (95)
Step 75 of 213 (96)
Step 76 of 213 (98)
Step 77 of 213 (99)
Step 78 of 213 (100)
Step 79 of 213 (101)
Step 80 of 213 (102)
Step 81 of 213 (103)
Step 82 of 213 (104)
Step 83 of 213 (105)
Step 84 of 213 (106)
Step 85 of 213 (107)
Step 86 of 213 (109)
Step 87 of 213 (110)
Step 88 of 213 (111)
Step 89 of 213 (112)
Step 90 of 213 (114)
Step 91 of 213 (115)
Step 92 of 213 (116)
Step 93 of 213 (118)
Step 94 of 213 (119)
Step 95 of 213 (121)
Step 96 of 213 (125)
Step 97 of 213 (126)
Step 98 of 213 (127)
Step 99 of 213 (128)
Step 100 of 213 (130)
Step 101 of 213 (132)
Step 102 of 213 (133)
Step 103 of 213 (134)
Step 104 of 213 (135)
Step 105 of 213 (136)
Step 106 of 213 (137)
Step 107 of 213 (138)
Step 108 of 213 (139)
Step 109 of 213 (140)
Step 110 of 213 (143)
Step 111 of 213 (144)
Step 112 of 213 (145)
Step 113 of 213 (146)
Step 114 of 213 (147)
Step 115 of 213 (149)
Step 116 of 213 (150)
Step 117 of 213 (151)
Step 118 of 213 (152)
Step 119 of 213 (153)
Step 120 of 213 (154)
Step 121 of 213 (156)
Step 122 of 213 (157)
Step 123 of 213 (158)
Step 124 of 213 (159)
Step 125 of 213 (160)
Step 126 of 213 (161)
Step 127 of 213 (162)
Step 128 of 213 (163)
Step 129 of 213 (164)
Step 130 of 213 (165)
Step 131 of 213 (166)
Step 132 of 213 (167)
Step 133 of 213 (170)
Step 134 of 213 (172)
Step 135 of 213 (173)
Step 136 of 213 (174)
Step 137 of 213 (175)
Step 138 of 213 (177)
Step 139 of 213 (178)
Step 140 of 213 (180)
Step 141 of 213 (181)
Step 142 of 213 (182)
Step 143 of 213 (183)
Step 144 of 213 (184)
Step 145 of 213 (186)
Step 146 of 213 (188)
Step 147 of 213 (189)
Step 148 of 213 (193)
Step 149 of 213 (194)
Step 150 of 213 (195)
Step 151 of 213 (197)
Step 152 of 213 (198)
Step 153 of 213 (200)
Step 154 of 213 (203)
Step 155 of 213 (205)
Step 156 of 213 (207)
Step 157 of 213 (208)
Step 158 of 213 (209)
Step 159 of 213 (211)
Step 160 of 213 (212)
Step 161 of 213 (213)
Step 162 of 213 (214)
Step 163 of 213 (215)
Step 164 of 213 (216)
Step 165 of 213 (218)
Step 166 of 213 (219)
Step 167 of 213 (220)
Step 168 of 213 (221)
Step 169 of 213 (222)
Step 170 of 213 (223)
Step 171 of 213 (224)
Step 172 of 213 (226)
Step 173 of 213 (227)
Step 174 of 213 (229)
Step 175 of 213 (230)
Step 176 of 213 (231)
Step 177 of 213 (233)
Step 178 of 213 (234)
Step 179 of 213 (235)
Step 180 of 213 (236)
Step 181 of 213 (237)
Step 182 of 213 (238)
Step 183 of 213 (239)
Step 184 of 213 (240)
Step 185 of 213 (241)
Step 186 of 213 (242)
Step 187 of 213 (244)
Step 188 of 213 (245)
Step 189 of 213 (246)
Step 190 of 213 (247)
Step 191 of 213 (249)
Step 192 of 213 (252)
Step 193 of 213 (253)
Step 194 of 213 (254)
Step 195 of 213 (255)
Step 196 of 213 (256)
Step 197 of 213 (257)
Step 198 of 213 (258)
Step 199 of 213 (259)
Step 200 of 213 (260)
Step 201 of 213 (261)
Step 202 of 213 (262)
Step 203 of 213 (263)
Step 204 of 213 (264)
Step 205 of 213 (265)
Step 206 of 213 (266)
Step 207 of 213 (268)
Step 208 of 213 (269)
Step 209 of 213 (271)
Step 210 of 213 (272)
Step 211 of 213 (273)
Step 212 of 213 (275)
Step 213 of 213 (277)
CPU times: total: 18.6 s
Wall time: 25.3 s

## Overview speichern

In [8]:
overview_undersample = overview_undersample[overview_undersample.include == True].copy().reset_index(drop=True)

In [9]:
overview_undersample

,num_series_id,step,awake,critical_event_point,series_index,include
0,1,4632,1,0.011109,4632,True
1,1,4633,1,0.011389,4633,True
2,1,4634,1,0.011676,4634,True
3,1,4635,1,0.011969,4635,True
4,1,4636,1,0.012269,4636,True
...,...,...,...,...,...,...
5093401,277,581961,1,0.012269,581961,True
5093402,277,581962,1,0.011969,581962,True
5093403,277,581963,1,0.011676,581963,True
5093404,277,581964,1,0.011389,581964,True
5093405,277,581965,1,0.000000,581965,True

In [10]:
overview_undersample.to_parquet(file_path_prefix + "overview-v2-undersample.parquet")