# Baseline

In [1]:
import sys
sys.path.append('../../')

from baselines.FixTimeRegressor import FixTimeRegressor
from baselines.TimeRangeRegressor import TimeRangeRegressor

from scoring.event_detection_matrix import competition_score

import pandas as pd
import random

## Daten laden

In [2]:
validation_series = pd.read_parquet('../../data/processed/validation_series_split.parquet')
validation_events = pd.read_csv('../../data/processed/validation_events_split.csv')

## FixTimeRegressor

In [3]:
fix_time_regressor = FixTimeRegressor('07:00:00', '22:00:00')

In [4]:
fix_time_results = fix_time_regressor.predict(validation_series)

100%|███████████████████████████████████████████████████████████████████████████| 3033/3033 [00:00<00:00, 21552.25it/s]

In [5]:
fix_time_results.head()

   row_id     series_id   step   event  score                 timestamp
0       0  062dbd4c95e6   7020   onset    0.5  2018-08-22T22:00:00-0400
1       1  062dbd4c95e6  13500  wakeup    0.5  2018-08-23T07:00:00-0400
2       2  062dbd4c95e6  24300   onset    0.5  2018-08-23T22:00:00-0400
3       3  062dbd4c95e6  30780  wakeup    0.5  2018-08-24T07:00:00-0400
4       4  062dbd4c95e6  41580   onset    0.5  2018-08-24T22:00:00-0400

In [6]:
competition_score(validation_events, fix_time_results)

0.014250182090803202

## TimeRangeRegressor

In [7]:
time_range_regressor = TimeRangeRegressor(['06:00:00', '08:00:00'], ['22:00:00', '23:59:59'])

In [8]:
time_range_results = time_range_regressor.predict(validation_series)

100%|█████████████████████████████████████████████████████████████████████| 4187611/4187611 [02:31<00:00, 27665.03it/s]

In [9]:
time_range_results.head()

   row_id     series_id   step   event  score                 timestamp
0       0  062dbd4c95e6  13980  wakeup    0.5  2018-08-23T07:40:00-0400
1       1  062dbd4c95e6  30060  wakeup    0.5  2018-08-24T06:00:00-0400
2       2  062dbd4c95e6  48720  wakeup    0.5  2018-08-25T07:55:00-0400
3       3  062dbd4c95e6  65100  wakeup    0.5  2018-08-26T06:40:00-0400
4       4  062dbd4c95e6  82320  wakeup    0.5  2018-08-27T06:35:00-0400

In [10]:
competition_score(validation_events, time_range_results)

0.006886847542063687